XControls.MessageBanner/obj/
XControls.MessageBanner/bin/
*.suo
packages/NuGet.Build.Tasks.Pack.5.10.0/
UserControls/bin/
UserControls/obj/
.vs/
WpfApp1/bin/
WpfApp1/obj/
XControls.MessageBox/obj/
XControls.NumberStepper/obj/
XControls.MessageBox/bin/
XControls.Utilities/bin/
XControls.Utilities/obj/
XControls.ValueConverters/obj/
XControls.ValueConverters/bin/
XControls.NumberStepper/bin/
XControls.Helpers/obj/
*.user
XControls.Helpers/bin/
packages/
XControls.Helpers.UnitTest/bin/
XControls.Helpers.UnitTest/obj/
